input #file-upload-button {
  visibility: hidden;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.container label {
  color: white;
  width: 183px;
  height: 44px;
  border-radius: 21.5px;
  background-color: #db202f;
  padding: 8px 16px;
}
.container h3 {
  font-size: 20px;
  font-weight: 600;
  color: #38424c;
}
.fileover {
  @apply border-indigo-500 text-indigo-500;

  /* animation: shake 1s;
  animation-iteration-count: infinite; */
}

.fileover > .upload-icon {
  @apply stroke-indigo-500;

  /* animation: shake 1s;
  animation-iteration-count: infinite; */
}
.files-list {
  margin-top: 1.5rem;
}
.files-list .single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #979797;
  margin-bottom: 1rem;
  display: flex;
  flex-grow: 1;
}
.files-list .single-file .delete {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}
.files-list .single-file .name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}
.files-list .single-file .size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}
.files-list .single-file .info {
  width: 100%;
}
