on: [push]

jobs:
  test-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    name: Build and Deploy to fleek
    steps:
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn install
      - name: Build app
        run: yarn build
      - name: Deploy test site
        id: deploy
        uses: fleekhq/action-deploy@v1
        with:
          apiKey: ${{ secrets.FLEEK_API_KEY }}
      - name: Get the output url
        run: echo "Deploy url is ${{ steps.deploy.outputs.deployUrl }}"